div.neuron-div{
	background:white;
	/*border-radius: 10px;*/
	padding: 5px;
	margin-bottom:1px;
}

input.neuron-text{
	border-radius:2px;
	background:#e9eaec;
	height:25px;
	font-size: 11px;
}

select.neuron-select{
	border-radius: 2px;
	background: #e9eaec;
	height: 25px;
	font-size: 11px;
}
div.left-panel-neuron-div{
	background:white;
	/*border-radius: 10px;*/
	padding: 5px;
}

.login-button{
	background:grey;
	color : white;
	/*border-radius: 10px;*/
	padding-left: 5px;
}

body {
	font-family: Myriad Set Pro,Lucida Grande,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
	font-weight: 400;
	Color : #333;
	font-style : normal;
	font-size : 1.2em;
}

form{
	padding: 10px;
}
input{
	width:100%;
	border-radius: 2px;
	border:none;
	height:25px;
}
.left-section-2{


}
div.neuron-div-hover:hover{
	background:#ffffee;
	/*color:white!important;*/
}

div.neuron-div-active {
	background:grey !important;
	color:white;
}

button.neuron-btn {
	background:grey;
	color:white;
	border-radius: 2px;
	font-weight: bold;
}

button.neuron-btn:focus {
	-webkit-box-shadow: none;
    outline: none;
}

span.notice-board-badge{
	background:#4ca4c7;
	margin-left:5px;
}

span.header-badge{
	background:red;
	/*margin-top:15px;*/
	margin-left:-5px;
}

span.like-badge{
	background:#e9eaec;
	Color : grey;
	font-style : normal;
}


span.like-badge:hover{
	background:grey;
	Color : white;
	font-style : normal;
}

div.neuron-tab-border{
	border-left:1px solid grey;
	
}
.btn-file {
    position: relative;
    overflow: hidden;
	border:none;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.text-info{
	color:white;
}

div.leftPanelSubHeader, div.loginPanel{
	color:white;
	background:grey !important;
	margin-top: 20px;
}
.padding5{
	padding:5px;
}
.margin-20{
	margin-top: -20px;
}
div.leftPanelSubHeader div > a{
	color:#333 !important;
	
}

/*
BG: e9eaec
Header: 1f4c5e
Text: adaeb0
Button: 4ca4c7
Drop box text: 626262
Font Family: Futura Medium
*/
.pointerCursor{
cursor:pointer;
}
.pointerWithLine{
cursor:pointer;	
color:#428bca;
}
.pointerWithLine:hover {
   border-bottom: 1px solid #428bca;
}
.modal-header {
  background: #1F4C5E;
  color: white;
  min-height: 12.42857143px !important;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  color:white;
}

hr.neuron-Hline{
	margin-top: 7px;
	margin-bottom: 7px;
	
}

div.commentSectionBorder{
	border:solid 1px;
	border-color:#e9eaec;
	padding:2px;
	border-radius:4px;
}

.neuron-glyphicon{
	color:white;
	font-size:24px;
	margin-top:7px;
}

.banner-image {
	height:100%;
	max-width:100%
}