body.admin {
	font-family:Arial;
	/*background-image:url(../images/bgimage.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(  src='images/bgimage.jpg', sizingMethod='scale');
	#e9eaed */
	background-color:#ffffff;
}
.labels {
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color: #465D65;
	float: left;
	padding: 0 10px 10px 15px;
	width: 100%;
	font-size:13px;
}
.profile-text,.services-text,.password-text{
	font-size:12px;
	padding:10px;
}

.header {
	/*background:url(../images/headerbg.png) repeat;*/
	background-color: #6BBCFC;/*#2da5da;*/
	border-bottom:2px solid #244065;
}
.header .select-lang {
	padding-top:5px;
	color:#fff;
}
.header .selctButton {
	height:25px;
	min-width:100px;
	padding:3px 3px 3px 12px;
}
.header-left img {
	padding-bottom:5px;
}
.select-lang select {
	width:100%;
}
.login-container {
	margin-top:30px;
	padding-bottom:20px;
}
.banner-container {
	padding-left:0;
}
.banner-image {
	max-width:100%;
	width:100%;
}

.login-welcome {
	font-size:16px;
	padding-top:10px;
	padding-bottom:10px;
	color:#465d65;
}
.login-form {
	padding-top:10px;
	padding-bottom:10px;
}
.login-form .row {
	padding-bottom:10px;
}
.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="submit"], .login-form input[type="reset"] {
	width:100%;
}
.login-form input[type="submit"], .login-form input[type="reset"] {
	background-color:#0f678d;
	padding-top:7px;
	padding-bottom:7px;
	border:0px;
	color:#fff;
	margin-top:5px;
}
.login-form input[type="reset"] {
	background-color:#2da5da;
	border:0px;
	color:#fff;
	margin-top:5px;
}


.logged-user-left {
	
}
.logged-user-left img {
	max-width:100%;
}
.customize-menu .menu-item {
	padding:5px;
}
.logged-user-left .content-head {
	background-color:#CCC;
	padding-top:10px;
	padding-bottom:10px;
}
.logged-user-left .img-container {
	padding:0px;
}
.logged-user-left .user-details {
	padding:15px;
}
.logged-user-left .notification-content {
	padding:5px;
	padding-bottom:15px !important;
	border-bottom: 1px solid #999;
}
.logged-user-left .notification-content1 {
	padding:7px;
	border-bottom: 1px solid #999;
}
.logged-user-left .last-notification-content1 {
	padding:7px;
	border-bottom: 1px solid #999;
}
.logged-user-left .last-notification-content {
	border-bottom: none;
	
}
.logged-user-right {
	background-color:#f6f7f9;
}
.logged-user-right input[type="text"], .logged-user-right input[type="submit"] {
	width:100%;
}
.attribute-tab-items li {
	padding:0;
}
.attribute-tab-items li a {
	padding:10px 5px;
}
#profile-tab .row {
	padding-top:5px;
	padding-bottom:5px;
}
.main-content {
	background-color:#f6f7f9;
	padding:0;
}
.logged-user-left-container {
	background-color:#fbf7ee;
	padding:0;
}
.profile-tab-head {
	padding-top:10px;
	padding-bottom:10px;
}
 #profile-tab .add-attr {
	background-color: #CCC;
	color:#595959;
}
#profile-tab .even-bg {
	background-color:#f3f8fc
}
#profile-tab .buttons-row {
	padding-top:20px;
}
.row {
	color:#595959;
	height:100%;
}
/* changes by amrutha*/
.footerLogo img {
	margin-left:100px;
}
.settingsImg {
	background:url(../images/settings.png) center center transparent;
	background-repeat:no-repeat;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	padding:19px 20px;
	display:inline-block;
}

.logoutImg {
	background:url(../images/logout.png) center center transparent;
	background-repeat:no-repeat;
	padding:25px 20px 0px 12px;
	display:inline;
}
.personalInfo {
	color:#445d62;
	display:inline-block;
	font-size:16px;
}
.floatRight {
	float:right;
	padding-top:10px;
}
/*.navbg{
	background-color:#595959;
}*/
.paddingLeftRight {
	padding-right:20px;
	padding-left:20px;
}
.enterIcon {
	background:url(../images/enter.png) 95% center transparent;
	background-repeat:no-repeat;
	height:2%;
}
.editImage {
	background:url(../images/edit.png) 11% center transparent;
	background-repeat:no-repeat;
	padding:10px;
	width:1%;
	margin-top:10px;
	margin-left:20px;
}
.closeImage {
	background:url(../images/remove.png) 11% center transparent;
	background-repeat:no-repeat;
	padding:10px;
	width:1%;
	margin-top:10px;
	margin-left:20px;
}
.inputWidth {
	height:25px;
}
.rowHeading {
	margin-top:5px;
}
.row .input-group {
	display:block;
}


.saveButton {
	width:100%;
}
.user-details {
	border-bottom:4px solid #2da5da;
}
.customize {
	color:#595959;
	text-transform:uppercase;
	font-size:16px;
	margin-top:20px;
}
.user-details .img-container {
	margin-left:10px;
	width:27%;
}
.personDetails {
	width:70%;
}
.personDetails div:first-child {
	font-size:16px;
}
.personDetails div + div {
	font-size:12px;
}
.notification-content .img-container {
	width:18%;
}
.paraText {
	font-size:13px;
}
.more {
	text-decoration:underline;
}
.buttons-row .col-sm-6 {
	padding-left:0px;
}
.buttons-row .col-sm-6 .col-sm-6 {
	padding-left:0px;
}
.title {
	display:inline-block;
	margin-left:20px;
}
.imgWidth {
	width:20%;
}
.profModule {
	padding-left:15px;
}
.buttons-row .col-sm-6 .btn {
	border-radius:0px;
}
.modifyLogo {
	text-decoration:underline;
}
.logoContent {
	background-color:#f6f7f9;
	padding:20px;
}
.logoText {
	display:block;
	padding-bottom:10px;
}
.textareawidth {
	height:100px;
}

.logged-user-right ul li:not(.active) {
	background-color:#d7d8da;
}
.logged-user-right ul li {
	margin:10px 10px 0px 10px;
}
.logged-user-right ul li a {
	color:#5a5a5a;
}
.logged-user-right ul li a:hover {
	color:#5a5a5a;
	font-family:arial;
}
.logged-user-right .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color:#fff;
	background-color:#595959;
}
.password-module ul li:not(.active) {
	background-color:#d7d8da;
}
.password-module ul li {
	margin:10px 10px 0px 10px;
}
.password-module ul li a {
	color:#5a5a5a;
}
.password-module ul li a:hover {
	color:#5a5a5a;
	font-family:arial;
}
.password-module .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color:#fff;
	background-color:#595959;
}


.number_text {
 width:
}
.close_img {
	margin-left:12px;
}
.questions {
	width: 317px;
	height:27px;
	margin-bottom: 8px;
	background:#f6f7f9;
	color:#64787d;
	border:1px solid #64787d;
}
.form_buttons {
	margin-top:99px;
}
.header .select-lang {
	padding-top:5px;
}
.header-left img {
	padding-bottom:5px;
}
.select-lang select {
	width:100%;
}
.login-container {
	display:table;
	margin-top:30px;
	padding-bottom:20px;
}
.banner-container {
	padding-left:0;
	display:table-cell;
}
.banner-image {
	max-width:100%;
	width:100%;
}

.login-module {
	background-color:#edeef0;
	display:table-cell;
	padding-bottom:29px;
}
.login-module-head, .features-head {
	background-color:#1b96d1;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
	font-size:16px;
}

.footer {
	background:url(../images/footerbg_02.png) repeat;
	padding:10px;
	font-size:12px;
	color:#9f9f9f;
	text-align:center;
	margin-bottom:0;
	padding-bottom:0;
}
.spinner1 {
	width: 84px;
	margin-bottom: 10px;
}
.spacingTop {
	margin-top:15%;
	margin-left:10px;
}
.addQues {
	padding-left:3%;
	padding-bottom:2%;
}
.Groupmodule {
	background:#f6f7f9;
}
.Grouptext input[type="submit"] {
	background-color: #465d65;
	border: 0px;
	color: #fff;
	/* margin-top: 5px; */
	width: 67px;
	padding: 2px 4px 4px 5px;
	margin-right: 5px;
}
.Grouptext input[type="button"] {
	color: #4d646b;
	background: #fff;
	margin-top: 5px;
	width: 67px;
	padding: 2px 4px 4px 5px;
	margin-right: 5px;
	border: 1px solid #c4cacd;
}
.spacingBottom {
	margin-bottom:10px;
}


.tenant_process{
	background:#ffffff;
	/*height:689px;
	width:783px;*/
	
}


.New Tenant{
	
	color:#a4d2ec;
	
	
}

.new_tenant{
	margin-top: 10px;
border-bottom: 2px solid #d7d8da;
padding: 1% 2% 0 0;
}
.modify-class{
	float:right;
	text-decoration:underline;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#7dbfe2;
	margin-top:10px;
}
.modify-class1{
	margin-top:10px;
	text-decoration:underline;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#7dbfe2;
	
}
.modify-classtenant{
	text-decoration:underline;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#7dbfe2;
}
.modifyinfo{
	text-decoration:underline;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#7dbfe2;
	margin-top:10px;
	padding-right:32px;
	
	
}
.company_info{
	margin-left: -15px;
	
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}
.company_module{
	
	background-color:#f6f7f9;
	height:300px;
	
}
.company-details{
margin-Top:10px;
color:#aeb5ba;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}
.company-details1{
	color:#828f95;
	font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}

.calander-data {
background: #f6f7f9;
margin-right:15px;
padding-top:10px;
padding-bottom:5px;
}
.oracle-module{
height:25px !important;
	width: 260px;
padding-left: 5px;
background-color: #fff;
color: #677c7f;
border:1px solid #88959b;
}
.stringtext{
font-size: 12px;
color:#949fa3;
font-family: Arial, Helvetica, sans-serif;
padding: 10% 1 0 1;
margin-left:10px;
margin-top:2px;

}

.stringtext1{
	padding-left:20px;
	font-size: 12px;
color:#949fa3;
font-family: Arial, Helvetica, sans-serif;
padding-top:2px;
	
	
}
.company-details1{
	margin-Top:10px;
color:#9da6ab;
font-size:13px;
font-family:Arial, Helvetica, sans-serif;
}
.continue_buttons{
	margin-top:10px;
}
.details-submodule {
background-color: #f2f2f2;
height: auto;
border: 0 !important;
margin-bottom:0px !important;
}
.details-submodule1{
	
	background-color: #f2f2f2;
height: auto;
border: 0 !important;
padding-right:19px;
padding-top:10px;
padding-bottom:10px;
padding-left:19px;
margin-bottom:0px !important;	
}

.span3 {
width: 270px;
}


[class*="span"] {
float: left;
min-height: 1px;
margin-left: 1px;
}

.Add-questions1{
	background-color: #d7d8da;
/*padding: 7px 58px 7px 54px;*/
color: #616261;
border: none;
width:258px;
height:37px;
font-weight:600;
}
.Add-questions1 img{
	padding:10px;
}
.span3 {
width: 258px;
border:1px solid #999;
}
[class*="span"] {
float: left;
min-height: 1px;
/*margin-left: 20px;*/
}
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
float: none;
margin-left: 0;
}

.input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
display: block;
width: 100%;
min-height: 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
float: none;
display: block;
width: 100%;
margin-left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 20px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color: #555555;
/*-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;*/
vertical-align: middle;
}
select {
width: 220px;
/*border: 1px solid #cccccc;*/
background-color: #ffffff;
outline:none;
}
select {
height: 30px;
line-height: 30px;
}
.language_module{
	

	min-height: 20px;
	padding: 19px;
margin-bottom: 20px;
background-color: #f5f5f5;
}
.checkbox-module{
display: block;
min-height:0 !important;
margin:0 !important;
padding:0 !important;
}
.buttons_module{
	margin-top: 10px;
	margin-bottom:7px;
}
.selectText label{
	font-weight:normal;
}
.service_module{
	margin-top:10px;
}
.form-module{
	margin-bottom:0 !important;
	margin-top: 10px;
}

.companySpacing{
	padding-top:10px;
	padding-bottom:5px;
}
.langText{
	padding:10px 0px;
	font-size:14px;
}body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.logged-user-left-container {
	padding:0;
}
input[type="text"],input[type="submit"], input[type="button"], textarea, select {
	width:100%;
}
.details-module {
	background-color:#f6f7f9;
	min-height:314px;
}

.tenant-self-reg-head {
	border-bottom:1px solid #999;
	margin-top:10px;
	font-size:14px;
}
.tenant-main-content {
	background-color:#fff;
}
.form-content {
	background-color:#CCC;
}
.need-margin-bottom {
	margin-bottom:10px;
}
.need-margin-top {
	margin-top:10px;
}
.need-padding-bottom {
	padding-bottom:5px;
}
.need-padding-top {
	padding-top:10px;
}
.need-padding-left {
	padding-left:10px;
}
.need-padding-right {
	padding-right:10px;
}
.reduced-padding {
	padding-left:5px;
	padding-right:5px;
}
.user-left-container {
background-color: #f6f7f9
}
.user-name {
	font-size:1em;
}
.last-login, .edit-profile-link {
	font-size: .75em;
}
.edit-profile-link {
color: #2da5da;
text-decoration:underline;
}
.no-padding {
	padding:0;
}
.user-details {
	padding-top:15px;
	border-bottom: 4px solid #2da5da;
	padding-bottom:15px;
}
.user-left-container {
	
}
.cmpinfo{
	font-size:14px;
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:5px;
	
}
.Tenantnew{
	margin-right:20px;
}
.tetnant_new{
	padding-right:5px;
	padding-top:5px;
}
#language1,#language2,#language3{
	width:260px;
}

padding: 1% 2% 0 2%;
}



.store_module{
	font-size:14px;
	padding: 10px 0 4px 10px;
	margin-left:5px;
font-family:Arial, Helvetica, sans-serif;
}
.store_modulecompany{
	font-size:14px;
	padding: 10px 0 4px 10px;
	margin-left:5px;
font-family:Arial, Helvetica, sans-serif;
}
.store-data{
	/*height:86px;*/
	background:#f6f7f9;
	margin-right:15px;
	padding-top:10px;
	
}
.lightGreyBg{
	/*height:86px;*/
	background:#f6f7f9;
	
}
.company-details1{
	margin-Top:10px;
color:#828f95;
font-size:13px;
font-family:Arial, Helvetica, sans-serif;
}
.continue_buttons{
	margin-top:10px;
}
.details-submodule {
background-color: #f2f2f2;
height: auto;
border: 0 !important;
margin-bottom:0px !important;
}
.details-submodule1{
	
	background-color: #f2f2f2;
height: auto;
border: 0 !important;
padding:10px 19px;
margin-bottom:0px !important;	
}


/* tenant History*/
.service_module{
	margin-top:10px;
}
.form-module{
	margin-bottom:0 !important;
	margin-top: 10px;
}

.awaiting_action{
	background:#f6f7f9;
}
.left{
	float:left;
}
.search-module{
	
	background:url(../images/search.png);
	background-repeat:no-repeat;
	width:20px;
	float:left;
}
.profile-tab-headrow{
	background-color:#ccc;

}
.profile-tab-headrow1, #Awaiting-tab {
	background-color: #f6f7f9;
	color:#595959;
	
}
.profile-tab-headrow3, #Awaiting-tab {
	background-color:#ffffff;
	color:#595959;
	
}

.tenantname{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
padding:10px 5px;
}
.searchIcon{
	background:url(../images/images/tenant_history_03.png) 100% center transparent;
	background-repeat:no-repeat;
	height:3%;
}
.input-group .searchText{
	height:30px;
	width:200px !important;
	
}
.spacingLeft{
	margin-left:0px !important;
}
.processSpace{
	margin-top:5px;
	font-size:14px;
}

.compassion-module{
height:30px !important;
	width: 260px;
padding-left: 5px;
background-color: #fff;
color: #677c7f;
border:1px solid #88959b;
}
.morecomments {
	text-decoration:underline;
	margin-left:10px;
}
.oracle-module1{
height:25px !important;
	width: 288px;
padding-left: 5px;
background-color: #fff;
color: #677c7f;
border:1px solid #88959b;
border-radius:none;
font-size:14px !important;
font-family:Arial, Helvetica, sans-serif;

}
.oracle-module3{
height:25px !important;
width: 288px;
padding-left: 5px;
background-color: #fff;
color: #677c7f;
border:1px solid #88959b;
border-radius:none;
font-size:14px !important;
font-family:Arial, Helvetica, sans-serif;
margin-bottom:10px;
margin-top:7px;

}
.imprequired{
	color:red;
}
.dropdown_module{
	width:84px;
	border: 1px solid #88959b;
}
.dropdown_module1{
	width:153px;
	border: 1px solid #88959b;
}
.textarea-info{
	margin: 0px 0px 10px;
height: 50px;

border: 1px solid #88959B;

}


/***** Styles for Manage Tenant Module *****/
.manage-tenant-module{
	background-color: #ffffff;
	min-height: 500px;
}

.manage-tenant-module .table td {
	border: 0;
}

.manage-tenant-module table{
	font-size:12px;
}

.manage-tenant-module thead {
	background-color: #D7D8DA;	
}

.manage-tenant-module .table th {
	padding: 4px;
	font-weight: normal;
	font-size: 13px;
	color: #555;
}

.table-search{
	background-color: #F6F7F9;
	overflow: hidden;
}

.table-search input[type=text]{
	margin: 2px 7px;
}

.manage-tenant-module .tab-content{
	padding: 0;
}

.manage-tenant-module .nav > li > a {
	padding: 3px 15px;
	border: 0;
	border-radius: 0;
	background-color: #D7D8DA;
	color: #555;
	font-size: 13px;
	margin-right: 10px;
}

.manage-tenant-module .nav > li.active > a {
	color: #ffffff;
	background-color: #595959;
	border: 0;
}

.manage-tenant-module .status-indicator {
	border: 1px solid #fff;
	width: 12px;
	height: 12px;
	display: inline-block;
	display: inline-flex; /* Better and should work work latest browsers with CSS3 support */
	margin-right: 5px;
	border-radius: 6px;
	background-color: #E30304;	
}

.manage-tenant-module .active-tenants-tab .status-indicator,
.manage-tenant-module .active-tenant.status-indicator {
	background-color: #72E600;
}

.manage-tenant-module .tenant-info-management-nav .status-indicator {
	margin-right: 0;
	margin-left: 5px;
}

a.no-link {
	text-decoration: none;
}

.active-tenant .tenant-profileLink.no-link{
	color: #465D65;
	font-size: 15px;
}

.tenant-info-management-nav a{
	border-right: 1px solid gray;
	padding: 0 7px;
	font-size: 13px;
	color: #2DA5D9;
	text-decoration: underline;
}
.tenant-info-management-nav a:first-child{
	padding-left: 0;
}

.tenant-info-management-nav a:last-child {
	border-right: 0;
}

.tenant-details-wrapper {
	background-color: #F6F7F9;
	margin: 5px 0;
	padding-top: 10px; 
}

.tenant-details-wrapper label{
/* 	width: 50%; */
	padding: 0;
	font-weight: normal;
	color: #949DA2;
}

.tenant-details-wrapper .row span{
	color: #465D65;
}

.tenant-details-wrapper .services-row{
	padding-top: 5px;
	margin-left: 10px;
}

.tenant-details-wrapper .service{
	padding: 0;
	margin-bottom: 20px;
	overflow: hidden;
}

.services-col{
	padding: 0;
}

.services-row{
	margin-left: 0;
	margin-right: 0;
}

.tenant-details-wrapper .service-logo-img{
	width: 50px;
	height: 55px;
	float: left;
}

.tenant-details-wrapper .services-row input[type="checkbox"]{
	float: left;
	margin-top: 0;
	margin-bottom: 5px;
	margin-right: 5px;
	/* width: 17px;
	height: 17px; */
}

.tenant-details-wrapper .buttons-wrap button{
	margin-top: 10px;
	margin-right: 10px;
	background-color: #D7D8DA;
	color: #555;
	border-style:none;
	padding: 5px 15px;
}

.tenant-details-wrapper .buttons-wrap{
	padding-bottom: 10px;
}

.tenant-details-wrapper .buttons-wrap .save-btn{
	color: #ffffff;
	background-color: #595959;
}

.divider-line {
	border-top: 1px solid #CFCFCF;
}

.manage-tenant-module .footer-bar{
    padding-bottom: 20px;
    margin-top: 175px;
}

.manage-tenant-module .footer-bar a{
	text-decoration: underline;
	color: #2DA5D9;
	margin-right: 10px;
}

.manage-tenant-module .footer-bar button{
	margin-top: 0px;
	margin-right: 10px;
	background-color: #0F678D;
	color: #ffffff;
	border-style:none;
	padding: 7px 12px;
}
.active-tenants-tab, .deactivated-tenants-tab{
margin: 9px 2px 5px 0px !important;
}
.searchinfo{
margin-bottom:0px !important;
padding-top: 0px !important;

}
.tenant-info-management-nav {
	margin-top:10px;
}
button{
width:100%;
}
.resetbutn{
	padding: 6px 12px;
}
.form-group input[type="text"]{
width:78% !important;
height: 30px !important;
}
.input-group-addon{
	float: left;
}
.input-group.date .input-group-addon span {
display: block;
width: 16px;
height: 16px;
cursor: pointer;
position: relative !important;
left: -7px !important;
}
.capataimg{
	margin-top: 5px;
margin-bottom: 9px;
}.service_module{
	margin-top:10px;
}
.form-module{
	margin-bottom:0 !important;
	margin-top: 10px;
}

.awaiting_action{
	background:#f6f7f9;
}
.left{
	float:left;
}
.search-module{
	
	background:url(../images/search.png);
	background-repeat:no-repeat;
	width:20px;
	float:left;
}
.profile-tab-headrow{
	background-color:#ccc;

}
.profile-tab-headrow1, #Awaiting-tab {
	background-color: #f6f7f9;
	color:#595959;
	
}
.profile-tab-headrow3, #Awaiting-tab {
	background-color:#ffffff;
	color:#595959;
	
}

.tenantname{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
padding:10px 5px;
}
.searchIcon{
	background:url(../images/images/tenant_history_03.png) 100% center transparent;
	background-repeat:no-repeat;
	height:3%;
}
.input-group .searchText{
	height:30px;
	width:200px !important;
	
}
.spacingLeft{
	margin-left:0px !important;
}
.processSpace{
	margin-top:5px;
	font-size:14px;
}

.dropdownclass{
	width:260px;
	border:1px solid #999;
}

.selectDate{
background-color: #dddee0;
	width:100%;
	padding:5px 10px;
border:1px solid #88959b;
border-radius:none;
font-size:14px !important;
font-family:Arial, Helvetica, sans-serif;
}
/*.input-group-addon{
float: left;
position: relative;
left: -30px;
opacity: 1;
z-index: 2000;
background-image:url(../images/calender.png);
background-repeat:no-repeat;
top:5px;
background-color:transparent;
border:0px;
height:18px;
}
.input-group-addon{
	float: left;
}
.input-group.date .input-group-addon span {
display: block;
width: 16px;
height: 16px;
cursor: pointer;
position: relative !important;
left: -7px !important;

}
.input-group-addon{
float: left;
position: relative;
left: -30px;
opacity: 1;
z-index: 2000;
background-image:url(../images/calender.png);
background-repeat:no-repeat;
top:5px;
background-color:transparent;
border:0px;
height:18px;
}
.input-group.date .input-group-addon span {
display: block;
width: 16px;
height: 16px;
cursor: pointer;
position: relative !important;
left: -7px !important;
background-color: #dddee0;
}
*/
.dateimp{
border:1px solid #88959b;
border-radius:0px !important;
}

.addroleimg img{
	margin-left:3px;
}
.modify-class1{
	
	text-decoration:underline;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#7dbfe2;
	
}
.nav-tabs {
border-bottom: 1px solid #ddd;
}
.nav {
margin-bottom: 0;
padding-left: 0;
list-style: none;
}
.dispInlineFlex{
display: inline-flex !important;
}
.divCenter{
	    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.divVCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.divRight{
	float:right;
}
.divVBottom {
    display: inline-block;
    vertical-align: bottom;
}
.paddingTop10{
	padding-top:10px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width:99%;
    border: 0; 
    border-top: 2px solid #ffffff;
} 
.darkGreyBg{
	background-color:#595959;
}
.dashboardImageAndText {
	position: relative;
} 
.dashboardImageAndText .col {
	position: absolute; 
	z-index: 1; top: 5px; left: 5px;
    color:#FFF
}
.whiteText{
	color:#FFF !important;
}
input[type="file"]{
	height:30px;
width:60px !important;
display:inline !important;
}
.subText{
	font-size: 12px;
color:#949fa3;
font-family: Arial, Helvetica, sans-serif;
}
.tabGroup{
background-color:#d7d8da;
}
.pointerCursor{
cursor:pointer;
}
.pointerWithLine{
cursor:pointer;	
color:#428bca;
}
.pointerWithLine:hover {
   border-bottom: 1px solid #428bca;
}
.leftPaddingZero{
	padding-left:0px;
}
.whiteBg{
background-color:#ffffff;
}
.continue-button {
	background-color:#2da5da;/*#0f678d;*/
	padding: 7px 43px 7px 39px;
	color:#fff;
	border: none;
	margin-right:10px;
	width:150px;
}
.continue-button:hover,.dashboard-button:hover{
	background-color:#0f678d;
}
.dashboard-button {
	background-color:#2da5da;/*#0f678d;*/
	color:#fff;
	border: none;
	margin-right:10px;
	width:100%;
	height:70px;
}
.dashboard-button-selected {
	background-color:#0f678d;/*#0f678d;*/
	color:#fff;
	border: none;
	margin-right:10px;
	width:100%;
	height:70px;
	/*cursor: default;*/
}
.paddingTop5{
	padding-top:5px;
}
.paddingBottom10{
	padding-bottom:10px;
}
.paddingleft10{
	padding-left:10px;
}
.divBorder{
	    border: 1px solid #a1a1a1;
}
.paddingLeft50{
	padding-left:50px;
}
.user-left-container {
	
}
.check-option .blue {
background-color: #FFF;
color: #465D65;
}
.modal-content label {
color: #89969e;
font-size: 13px;
}
.check-option label {
float: left;
font-weight: normal;
background-color: #EFEFEF;
border: 1px solid #D0D0D0;
}
.check-option label input {
position: absolute;
top: -2500px;
visibility: hidden;
}
.check-option label #classmanagement {
padding: 36px 36px;
text-align: center;
text-transform: capitalize;
background: url(../images/light_red_img.jpg);
display: block;
}
.check-option input:checked + #classmanagement {
background-color: #465D65;
color: #FFF;
background: url(../images/dark_red_img.jpg);
padding: 36px 36px;
}
.textOnImage {
    position: absolute;
    font-weight: bold;
    color: #fff;
    top: 50%;
  	transform: translateY(-50%);
  	padding-left:10px;
  }
 .dataTables_length,.paddingLeft10{
   padding-left: 10px;
}
.dataTables_filter {
   padding-right: 10px;
}
